body{
    background-color: #AAF0D1;
    margin: auto;
}

h1{
    border: solid;
    background-color: #B0BF1A;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

input{
    margin-left: 25%;
    background-color: #B0BF1A;
    color: black;
}

text{
    font-size: 150%;
    border: solid;
    background-color: black;
    color: yellow;
}

img{
    height: 200px;
    margin-left: 40%;
}

input{
    font-size: 110%;
}